		<!-- BEGIN #footer -->
<div id="footer" class="footer">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row">
            <!-- BEGIN col-3 -->
            <div class="col-md-3">
               
                <img class="img-fluid" 
                     src="~/images/logo/Amatis_Logo_Primary_White_RGB.png" />
                <p style="margin-top:20px;">
                    Amatis Training is a paperless training company that enables people to learn anytime, anywhere.
                </p>
                <p>
                    Our brand works to break the barrier between user and computer, making e-learning even more engaging and accessible.
                </p>
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-md-2"></div>
            
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-md-4">
                <h4 class="footer-header">SERVICES</h4>
                <ul class="list-unstyled list-product">
                    <li>
                        <div class="image">
                            <img src="~/images/courses/business-analysis-course-600x448.jpg" />
                        </div>
                        <div class="info">
                            <a asp-controller="Course"
                               asp-action="Course"
                               asp-route-id="2"
                               asp-route-slug="business-analysis-practice">
                                <h4 class="info-title">Business Analysis Practice</h4>
                            </a>
                           
                          
                            <div class="price">£650.00 + VAT</div>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                           
                            <img src="~/images/courses/bcs-exams-3-600x448.jpg" />
                        </div>
                        <div class="info">
                            <a asp-controller="Course"
                               asp-action="Course"
                               asp-route-id="1"
                               asp-route-slug="bcs-exams">
                                <h4 class="info-title">BCS Exams</h4>
                            </a>
                         
                            <div class="price">£190.00 + VAT</div>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                           
                            <img src="~/images/courses/mentoring-session-3-600x448.jpg" />
                        </div>
                        <div class="info">
                            <a  asp-controller="Course"
                               asp-action="Course"
                               asp-route-id="3"
                               asp-route-slug="mentoring-session"><h4 class="info-title">Mentoring Session</h4>
                            </a>
                            <div class="price">£200.00 + VAT</div>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <img src="~/images/courses/oral-prep-session-2-600x448.jpg" />
                          
                        </div>
                        <div class="info">
                            <a  asp-controller="Course"
                               asp-action="Course"
                               asp-route-id="4"
                               asp-route-slug="oral-prep-session"><h4 class="info-title">Oral Prep Session</h4></a>
                            
                            <div class="price">£200 + VAT</div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-md-3">
                <h4 class="footer-header">OUR CONTACT</h4>
                <address>
                    <strong>Amatis Training</strong><br />
                    22 Trinity Road, <br />
                    Bath, BA2 5AB <br /><br />
                    <abbr title="Phone">Phone:</abbr> +44 (0) 7712 304 355<br />
                    <abbr title="Email">Email:</abbr> <a href="mailto:enquiries@amatistraining.com">enquiries@amatistraining.com</a><br />

                </address>
            </div>
            <!-- END col-3 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #footer -->
<!-- BEGIN #footer-copyright -->
<div id="footer-copyright" class="footer-copyright">
    <!-- BEGIN container -->
    <div class="container">
        <div class="payment-method">
           <a>Terms &amp; Conditions</a> | 
            <a>Privacy Policy</a>
           
        </div>
        <div class="copyright">
            Copyright &copy; 2019 Amatis Training. All rights reserved.
        </div>
    </div>
    <!-- END container -->
</div>
<!-- END #footer-copyright -->
