@using Microsoft.AspNetCore.Identity
@using AT.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    
        
            <li>
                <a asp-controller="Manage" asp-action="Index">
                    <!--<img src="~/images/user/user-1.jpg" class="user-img" alt="" />-->
                    <!--<span class="d-none d-md-inline text-black" style="font-size:14px;">-->
                    Hello @UserManager.GetUserName(User)<!--</span>-->
                </a>

            </li>
            
            <li>
                <a id="logout"
                   asp-controller="Account" asp-action="Logout" 
                   class="text-black">
                    Log Out
                </a>
                  
              
              
            </li>
            <form id="logoutform" asp-controller="Account" asp-action="Logout"
                  method="post" style="height:0px;width:0px;"></form>

    }
    else
    {

        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>

       
    
}
<script>
    window.onload = function () {
        if (document.getElementById("logout") != null)
        {
            document.getElementById("logout").onclick = function () {
                var myForm = document.getElementById("logoutform");

                myForm.submit();
                return false; // cancel the actual link
            }

        }
        
    }
</script>
