<!-- begin #header -->
<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
            <span class="navbar-logo">
            <img
                 src="~/images/logo/Amatis_Logo_Secondary_Black_RGB.png" />
            </span>
            <b>Amatis Training</b>
        </a>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- end navbar-header -->
  
</div>
<!-- end #header -->
