<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a asp-controller="Home"
                   asp-action="Index" 
                   data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="~/images/user/user-1.jpg" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret"></b>
                       Martin Maya
                        <small>CEO</small>
                    </div>
                </a>
            </li>
            
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li>
                <a asp-action="Dashboard"
                   asp-controller="Admin">
                    
                    <i class="ion-ios-pulse"></i>
                    <span>Dashboard</span>
                </a>
               
            </li>
            <li>
                <a asp-controller="Blog"
                   asp-action="Index">
                    <i class="ion-ios-mail"></i>
                    <span>Blog</span>
                </a>
              
            </li>
            <li>
                <a asp-controller="Course" asp-action="Index">
                    <i class="ion-ios-school bg-blue"></i>
                    <span>Courses</span>
                </a>
            </li>
            <li>
                <a asp-controller="Faq" asp-action="Index">
                    <i class="ion-ios-grid bg-green"></i>
                    <span>FAQs</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="ManageUsers">
                    <i class="ion-ios-man bg-yellow"></i>
                    <span>Manage Users</span>
                </a>
            </li>
                 
            
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-back"></i> <span>Collapse</span></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->