@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div id="content" class="content">
    <h1>Hello Admin Dashboard</h1>
</div>
