@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password | Amatis Training";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section title
{
    <title>@ViewData["Title"]</title>
}

<div class="login-cover">
    <div class="login-cover-image"
         style="background-image: url(../../images/bg/login-bg-16.jpg)"
         data-id="login-cover-image"></div>
    <div class="login-cover-bg"></div>
</div>

<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-v2" data-pageload-addclass="animated fadeIn">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand">
                <img class="img-fluid" src="~/images/logo/Amatis_Logo_Primary_White_RGB.png" />
            </div>
            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <!-- end brand -->
        <!-- begin login-content -->
        <div class="login-content">
            <form asp-controller="Account"
                  asp-action="ForgotPassword"
                
                  method="post" class="margin-bottom-0">
             
                    <h4>Enter your email.</h4>
                <label class="control-label">Email <span class="text-danger">*</span></label>
                <div class="form-group m-b-20">
                    <input asp-for="Email" type="text"
                           class="form-control form-control-lg"
                           placeholder="Email Address" required />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
                
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
</div>
        </div>
    </div>
            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }
